* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}
/* COMMON */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    border-radius: 16px;
    background: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    padding: 18px 16px;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
}

p {
    color: #5a6473;
}

.line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp, 2);
}
/* HEADER */

.hero-wrap {
    position: relative;
    height: calc(100vh - 90px);
    background-color: #e6f0ff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header.header {
    top: -26px;
    position: sticky;
    background-color: #e6f0ff;
    z-index: 1;
}
.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
    padding-bottom: 12px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #4f5361;
    padding: 8px 1.4rem;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.actions .action-link {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

/* hero */

.hero-wrap .info {
    width: 52.6%;
    /* margin-top: 130px; */
}

.hero-wrap .sub-title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
    text-align: left;
    color: #687690;
}

.hero-wrap .title {
    margin-top: 8px;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.19;
}

.hero-wrap .desc {
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.hero-wrap .btn-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero-wrap .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* ============== Clients ============ */
.clients {
    margin-top: 70px;
    padding: 40px 0;
}
.clients .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .row-desc p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
}

.clients .row-img {
    margin-top: 70px;
}

.clients .row-img a {
    display: flex;
    align-items: center;
    height: 91px;
    padding: 0 36px;
    background: #fff;
    border-radius: 12px;
    transition: ease-in;
}

.clients .row-img a:hover {
    box-shadow: 0px 10px 20px 0px #0000001a;
}
/* ============= Guides ============= */
.guides {
    padding: 80px 0;
    margin: 40px 0;
}

.guides .sub-title {
    position: relative;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
}

.guides .sub-title::before {
    position: absolute;
    content: "";
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
    text-align: center;
}

.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 26px;
}

.guide-item a {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 9px;
    display: inline-block;
    color: #0689ff;
}

.guide-item a .arow-right {
    margin-left: 8px;
}

.guide-cta {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.guide-cta .btn {
    min-width: 170px;
}

/* ============= Featured ================= */
.featured {
    margin: 40px 0;
    padding: 110px 0;
    background-color: #eff6ff;
}

.featured .sub-title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    color: #000339;
}

.featured .desc {
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight: 400;
}

.featured .link {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #0689ff;
}

.featured .link .thub {
    vertical-align: middle;
    margin-left: 6px;
}

.featured .row {
    display: flex;
    justify-content: space-between;
}

.featured .list {
    margin-top: 68px;
    display: flex;
    gap: 30px;
}

.featured .item {
    flex: 1;
    background-color: #fff;
    border-radius: 12px;
}

.featured .item > a .thub {
    width: 100%;
    height: 277px;
    object-fit: cover;
    object-position: 0 70%;
    border-radius: 12px 12px 0 0;
}

.featured .item .body {
    padding: 17px 20px;
}

.featured .body .title a {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    color: #000339;
    word-break: break-all;
}

.featured .body .desc {
    --line-clamp: 3;
    margin-top: 11px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    word-break: break-all;
}

.featured .body .info {
    margin-top: 21px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.featured .body .info .icon ~ .icon {
    margin-left: 22px;
}

.featured .body .label {
    margin-left: 8px;
}

/* Stast */

.stast {
    padding: 50px 0;
    margin: 75px 0;
}
.stast .row {
    display: flex;
}

.stast .content {
    width: 1024px;
}

.stast .img-block {
    position: relative;
}

.stast .img-block,
.stast .info {
    width: 50%;
}

.stast .row .img-block .image {
    margin-left: auto;
    width: 400px;
    height: 480px;
    display: block;
    object-fit: cover;
    border-radius: 12px;
}

.stast .row .info {
    width: 309px;
    margin: 80px 0 0 165px;
}

.stast .info .title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.28;
}

.stast .info .desc {
    margin-top: 20px;
    font-size: 1.6;
    font-weight: 400;
    line-height: 1.87;
}

.trend {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 240px;
    padding: 45px 22px;
    border-radius: 0px 0px 12px 12px;
}

.trend .row {
    display: flex;
}

.trend .row img {
    margin-left: auto;
}

.trend .row strong {
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #000339;
}

.trend .desc {
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #a7a7a7;
}

.trend .separate {
    margin: 26px 0;
    height: 1.2px;
    background-color: #e9e9e9;
}
.trend .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
}
.trend .avatar-group {
    display: flex;
}

.trend .avatar-group .avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
}

.trend .avatar-group .avatar ~ .avatar {
    margin-left: -4px;
}

.trend .avatar-group .avatar-empty {
    display: flex;
    background-color: #1f3bb1;
    justify-content: center;
    align-items: center;
}

.trend .avatar-group .avatar-empty span {
    font-size: 0.7rem;
    font-weight: 450;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.stast .row-qty {
    margin-top: 110px;
    justify-content: space-between;
    padding: 0 32px;
}

.stast .qty {
    font-size: 6.4rem;
    font-weight: 600;
}

.stast .qty-desc {
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    color: #7b8087;
}

.subscription {
    margin-top: 51px;
}

.subscription .body {
    height: 380px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #063183;
    border-radius: 20px;
}

.subscription .body .info {
    padding: 0 80px;
}

.subscription .info .sub-title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
    width: 550px;
    max-width: 100%;
}

.subscription .info .desc {
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    opacity: 0.75;
    width: 550px;
    max-width: 100%;
}

.subscription .info .btn {
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #002366;
    background-color: #fff;
    width: 151px;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 231px;
}

/* Footer */
.footer {
    padding: 50px 0;
}
.footer .row-top {
    display: flex;
}

.footer .col {
    margin-right: 185px;
}

.footer .col .title {
    white-space: nowrap;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    color: #1c1c1d;
}

.footer .col .list,
footer .col .desc {
    margin-top: 42px;
}

.footer .col .item {
    margin-top: 18px;
}

.footer .col .item a {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #7a7a7e;
}

.footer .col .desc {
    width: 257px;
}

.footer .social {
    margin-top: 40px;
    display: flex;
}

.footer .social img {
    padding: 18ox;
}

.footer .social a {
    margin-right: 18px;
    width: 28px;
    height: 28px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 4px;
}

.footer .social a:hover {
    background-color: rgb(245, 243, 243);
}

.footer .row-bottom {
    margin-top: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .row-bottom .copyright {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #c2c2c2;
}

/* PC */
@media screen and (min-width: 992px) {
    .hide-only-pc {
        display: none;
    }
}

/* Tablet and Mobile */
@media screen and (max-width: 991.98px) {
    .header .navbar ul {
        display: none;
    }

    .header .navbar {
        position: relative;
    }

    .header .navbar > a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }

    .header-checkbox:checked ~ .header-tablet-mobile__nav {
        visibility: visible;
        opacity: 1;
        translate: 0;
    }

    .header-checkbox:checked ~ .overlay {
        opacity: 1;
        visibility: visible;
    }

    .header-menu-list svg {
        width: 2.4rem;
        height: 2.4rem;
    }

    .header-tablet-mobile {
        position: fixed;
        inset: 0;
        z-index: 1;
        visibility: hidden;
        height: 100%;
    }

    .header-tablet-mobile .overlay {
        position: absolute;
        inset: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.3);
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
    }

    .header-tablet-mobile .header-tablet-mobile__nav {
        position: absolute;
        inset: 0 40% 0 0;
        z-index: 2;
        background-color: #fff;
        padding: 4rem;
        translate: -100%;
        opacity: 0;
        transition: 0.3s ease;
    }

    .header-tablet-mobile ul {
        margin-top: 16px;
    }

    .header-tablet-mobile ul li {
        font-size: 1.4rem;
        font-weight: 500;
        padding: 14px 0;
    }

    .header-tablet-mobile ul a {
        color: #4f5361;
    }

    .hero-wrap .hero-img {
        display: none;
    }

    .hero-wrap .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .hero-wrap .sub-title,
    .hero-wrap .title,
    .hero-wrap .desc {
        text-align: center;
    }

    .hero-wrap .title {
        font-size: 5.5rem;
    }

    .hero-wrap .btn-cta {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .clients .row-img {
        flex-wrap: wrap;
        justify-content: center;
    }

    .guide-item {
        margin: 0 50px;
    }

    .featured .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .featured .link {
        display: none;
    }

    .feature-cta {
        margin-top: 48px;
        display: flex;
        justify-content: center;
    }

    .stast .row-top {
        flex-direction: column-reverse;
        row-gap: 30px;
    }

    .stast .img-block,
    .stast .info {
        width: 100%;
    }

    .trend {
        background-color: #fafafa;
    }

    .stast .row .info {
        width: 100%;
        margin: 0;
    }

    .stast .qty {
        font-size: 4.5rem;
        font-weight: 600;
    }

    .stast .qty-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subscription .image {
        display: none;
    }

    .footer .row-top {
        display: grid;
        grid-template-columns: auto auto;
        gap: 60px;
    }
}

/* Tablet */
@media screen and (min-width: 577px) and (max-width: 991px) {
    .hide-on-tablet {
        display: none;
    }
}

/*  Mobile */
@media screen and (max-width: 576.98px) {
    .hide-on-mobile {
        display: none;
    }

    .content {
        max-width: calc(100% - 24px);
    }

    .header-tablet-mobile .header-tablet-mobile__nav {
        inset: 0 20% 0 0;
    }
    .header-tablet-mobile .sign-in {
        border-top: 1px solid #ebebeb;
    }
    .list-guide {
        flex-direction: column;
        row-gap: 30px;
    }

    .featured .list {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer .row-top {
        display: grid;
        grid-template-columns: 1fr;
    }

    .stast .row .img-block .image {
        width: 100%;
        object-fit: cover;
    }

    .stast .row-qty {
        margin-top: 80px;
        /* justify-content: space-between; */
        padding: 0;
        flex-direction: column;
        row-gap: 50px;
    }

    .subscription .info .sub-title {
        width: 100%;
    }

    .subscription .body .info {
        padding: 20px;
        flex: 1;
    }

    .subscription .body {
        height: auto;
    }
    .subscription .info .desc {
        width: 100%;
    }

    .footer .row-bottom {
        margin-top: 30px;
        column-gap: 20px;
    }
}
